@tailwind base;
@tailwind components;
@tailwind utilities;
.spinner {
  animation-name: spinner;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  margin: 200px auto;
}
@keyframes spinner {
  from {
    transform: rotate(360deg);
    translate: 200px;
  }
  to {
    translate: 400px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "itim", calibri;
}
p {
  font-family: "itim", calibri;
}
a {
  text-decoration: underline;
  font-family: "itim", calibri;
}

::-webkit-scrollbar {
  display: none;
}
